<!DOCTYPE html>
<html>
<head>
  <title>SweetBikeRides</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.0.3/leaflet.css" />

<link href="https://fonts.googleapis.com/css?family=Titillium+Web:400,600,700,900" rel="stylesheet">
  <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.44.1/mapbox-gl.js'></script>
  <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.44.1/mapbox-gl.css' rel='stylesheet' />
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_pack_tag    'application' %>

  <%= csrf_meta_tags %>
</head>
<body>
  <div class="top-bar">
       <h1 id="title"><a href="/">SweetBikeRides!</a></h1>
      </div>
      <nav class="navigation">
  <ul class="main-navigation" role="navigation">
    <% if current_user  %>
    <li><h4>Welcome back, <%= current_user.username %>! </h4>
      <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
    </li>
    <% else %>
    <h3 id="homepage">Welcome to SweetBikeRides!  </h3>
      <li id="logout">
        <ul class="users-panel">
          <%- flash.each do |key, value| -%>
            <div class="flash flash-<%= key %>">
              <%= value %>
            </div>
          <%- end -%>
          <%- if current_user -%>
            <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
          <%- else -%>
            <li><%= link_to 'Sign Up', new_user_registration_path %></li>
            <li><%= link_to 'Sign In', new_user_session_path %></li>
          <%- end -%>
        </ul>
            <% end %>
  </ul>
</nav>


  <div class="outer">
    <div class="middle">
      <div class="inner">
        <%= yield %>
      </div>
    </div>
  </div>

  <%= javascript_include_tag 'application' %>
  <footer>
      <strong><p>Questions?  Send me an email: <a href="mailto:sweetbikerides@gmail.com">
      sweetbikerides@gmail.com</a></p></strong>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react-leaflet/1.8.0/react-leaflet.min.js"></script>
    <script src='http://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-omnivore/v0.3.1/leaflet-omnivore.min.js'></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.0.3/leaflet.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-gpx/1.3.1/gpx.min.js"></script>

  </body>
</html>
