<!DOCTYPE html>
<html>
<head>
  <title>Sweetbikerides</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <link href="https://fonts.googleapis.com/css?family=Titillium+Web:400,600,700,900" rel="stylesheet">

  <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.44.1/mapbox-gl.js'></script>
  <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.44.1/mapbox-gl.css' rel='stylesheet' />
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_pack_tag    'application' %>

  <%= csrf_meta_tags %>
</head>
<body>
  <div class="top-bar">
       <h1 id="title"><a href="/">Sweetbikerides!</a></h1>
      </div>
      <nav class="navigation">
  <ul class="main-navigation" role="navigation">
    <% if current_user  %>
      <li id="logout"><a class="button button-primary" id="logout" href="logout">Sign Out</a></li>
    <% else %>
    <h3 id="homepage">Welcome to SweetBikeRides!  </h3>
      <li id="logout">
        <ul class="users-panel">
          <%- if current_user -%>
            <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
          <%- else -%>
            <li><%= link_to 'Sign Up', new_user_registration_path %></li>
            <li><%= link_to 'Sign In', new_user_session_path %></li>
          <%- end -%>
        </ul>
            <% end %>
  </ul>
</nav>

  <%- flash.each do |key, value| -%>
    <div class="flash flash-<%= key %>">
      <%= value %>
    </div>
  <%- end -%>
  <div class="outer">
    <div class="middle">
      <div class="inner">
        <%= yield %>
      </div>
    </div>
  </div>

  <%= javascript_include_tag 'application' %>
  <footer>
      <strong><p>Questions?  Send me an email: <a href="mailto:sweetbikerides@gmail.com">
      sweetbikerides@gmail.com</a></p></strong>
    </footer></body>
</html>
